In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.cluster import KMeans
import seaborn as sns

In [5]:
df=pd.read_excel('1_hack.xlsx')
df.head()

   1     2     3     4     5     6     ...  995   996   997   998   999   1000
0     4     1     3     1   2.0   5.0  ...   4.0   2.0     5     1     1     2
1     5     2     4     2   NaN   5.0  ...   NaN   3.0     5     1     1     2
2     5     3     5     3   NaN   NaN  ...   NaN   NaN     5     1     2     2
3     6     4     6     4   NaN   NaN  ...   NaN   5.0     5     2     2     2
4     7     5     7     5   NaN   7.0  ...   NaN   5.0     7     3     3     3

[5 rows x 1000 columns]

In [3]:
df=df.median()

In [7]:
df=df.fillna(df.median())

In [8]:
df.head()

   1     2     3     4     5     6     ...  995   996   997   998   999   1000
0     4     1     3     1   2.0   5.0  ...   4.0   2.0     5     1     1     2
1     5     2     4     2   2.0   5.0  ...   4.0   3.0     5     1     1     2
2     5     3     5     3   2.0   5.0  ...   4.0   4.0     5     1     2     2
3     6     4     6     4   2.0   5.0  ...   4.0   5.0     5     2     2     2
4     7     5     7     5   2.0   7.0  ...   4.0   5.0     7     3     3     3

[5 rows x 1000 columns]

In [10]:
df.to_excel('1_final.xlsx')

In [106]:
df=pd.read_excel('1_final.xlsx')
df.head()

   Unnamed: 0    0    1    2    3    4   Sum       STD  Mean
0           1  4.0  5.0  5.0  6.0  7.0  27.0  1.140175   5.4
1           2  1.0  2.0  3.0  4.0  5.0  15.0  1.581139   3.0
2           3  3.0  4.0  5.0  6.0  7.0  25.0  1.581139   5.0
3           4  1.0  2.0  3.0  4.0  5.0  15.0  1.581139   3.0
4           5  2.0  2.0  2.0  2.0  2.0  10.0  0.000000   2.0

In [6]:
df=pd.read_excel('1_Train.xlsx')
df.head()

     1    2    3    4    5
0  4.0  5.0  5.0  6.0  7.0
1  1.0  2.0  3.0  4.0  5.0
2  3.0  4.0  5.0  6.0  7.0
3  1.0  2.0  3.0  4.0  5.0
4  2.0  2.0  2.0  2.0  3.0

In [7]:
df1=pd.read_excel('1_Test.xlsx')
df1.head()

     1    2    3    4    5
0  4.0  4.7  5.4  6.1  6.8
1  1.0  2.0  3.0  4.0  5.0
2  3.0  4.0  5.0  6.0  7.0
3  1.0  2.0  3.0  4.0  5.0
4  1.8  2.0  2.2  2.4  2.6

In [8]:
from sklearn.metrics import r2_score
r2_score(df, df1)

0.9343382157310174